<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show all Books</title>
</head>
<body>
  <form th:object="${getBorrowedBookListFormData}" method="POST">
    Email Address:<input id="emailAddress" type="text" th:field="*{emailAddress}"/>
    <span id="email.error" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
    <br/>
    <input type="submit" id="getBorrowedBookList" value="Get all borrowed books"/>
  
  </form>


<table class="borrowedList">
  <caption>List of borrowed books for user ${borrowerEmail}</caption>
  <thead>
  <tr>
    <th scope="col">ISBN</th>
    <th scope="col">Title</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${borrowedList}">
    <th th:text="${book.isbn}" scope="row">123456</th>
    <td th:text="${book.title}">Harry Potter</td>
  </tr>
  </tbody>
</table>

<div th:replace="fragments/footer :: subpage-footer">Footer</div>

</body>
</html>
